<script src="/bower_components/angular/angular.js"></script>
<script src="/public/index.js"></script>

<div ng-app="CartApp" ng-controller="CartCtrl as ctrl"
     ng-init="ctrl.cart={{initCart}}">

    <table>
        <tr>
            <td>Item</td>
            <td>
                <input type="text" size="30" ng-model="ctrl.item">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="button" ng-click="ctrl.addToCard()">Add to Cart</button>
            </td>
        </tr>
    </table>

    <ul>
        <li ng-repeat="i in ctrl.cart">
            {[{ i }]}
        </li>
    </ul>
</div>
